body {
    background-image: url(https://wallpapers.com/images/hd/blue-aesthetic-moon-df8850p673zj275y.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.maindiv {
   color: white;
   font-size: large;
   background-color: rgb(1, 31, 51);
   border-radius: 30px;
   border: 5px solid white;
   width: 500px;
}
